extends layout

block Content
    .container-fluid
        .row.text-white
            .col-md-12.my-3
                h3.mb-3 단어검색
                p.my-2 &#9642; 첫글자 검색
                ul.list-group
                    li.list-group-item
                        .badge.bg-dark.p-2.m-1 가 
                        | '가'로 시작하는 단어 검색
                    li.list-group-item
                        .badge.bg-dark.p-2.m-1 나 
                        | '나'로 시작하는 단어 검색
                p.my-2 &#9642; 끝글자 검색
                ul.list-group
                    li.list-group-item
                        .badge.bg-dark.p-2.m-1 -가 
                        | '가'로 끝나는 단어 검색
                    li.list-group-item
                        .badge.bg-dark.p-2.m-1 -나 
                        | '나'로 끝나는 단어 검색
                p.my-2 &#9642; 와일드카드 검색
                ul.list-group
                    li.list-group-item
                        .badge.bg-dark.p-2.m-1 가.나
                        | '가'로 시작해서 '나'로 끝나는 단어 검색
                    li.list-group-item
                        .badge.bg-dark.p-2.m-1 .가. 
                        | 중간글자가 '가'인 단어 검색
                p.my-2 &#9642; 초성 검색
                ul.list-group
                    li.list-group-item
                        .badge.bg-dark.p-2.m-1 ㄱㄴㄷ
                        | 초성이 'ㄱㄴㄷ'인 단어 검색
                    li.list-group-item
                        .badge.bg-dark.p-2.m-1 가ㅇ동
                        | '가'로 시작해서 '나'로 끝나고 중간글자 초성이 'ㅇ'인 단어 검색
                    li.list-group-item
                        .badge.bg-dark.p-2.m-1 ㅇㅇ이
                        | 첫글자와 중간글자 초성이 'ㅇ'이고 '이'로 끝나는 단어 검색 

                
