include module

doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(property="og:image" content="images/logo.png")
        meta(property="og:url" content="http://catchword.ga")
        meta(property="og:description" content="파워쿵쿵따 족보사이트")
        meta(property="og:title" content="Catchword")
        title= TITLE
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap")
        link(rel="stylesheet" href="css/style.min.css")
        script(defer='' src='https://use.fontawesome.com/releases/v5.15.1/js/fontawesome.js' integrity='sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c' crossorigin='anonymous')
        script.
            if (window.document.documentMode) {
                document.execCommand('Stop');
                alert('이 브라우저는 지원되지 않습니다!\n 크롬이나 파이어폭스 등의 최신 브라우저를 사용해주세요!');
            }
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-mattBlackLight.fixed-top
            button.navbar-toggler.sideMenuToggler(type="button")
                span.navbar-toggler-icon
            a.navbar-brand.ml-2(href="/")= TITLE
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    if isAuthenticated
                        li#user.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle.p-0(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                img.rounded-circle.mr-2(src=user.profile_image width="40")
                                span.text= user.nickname
        .wrapper.d-flex
            .sideMenu.bg-mattBlackLight
                .sidebar
                    ul.navbar-nav.pt-1
                        - var { routes, labels } = MENU;

                        +menu(routes.search, labels.search, 'search')
                        +menu(routes.edit, labels.edit, 'edit')(data-toggle="modal", data-target="#editor")
                        +menu(routes.history, labels.history, 'history')
                        if isAdmin
                            +menu(routes.manage, labels.manage, 'wrench')
                            +menu(routes.download, labels.download, 'download')(target="_blank")
                        +menu(routes.help, labels.help, 'question-circle', 'far')
                        +menu(routes.github, labels.github, 'github', 'fab')(target="_blank")
                        if !isAuthenticated
                            +menu(routes.login, labels.login, 'sign-in-alt')
                        else
                            +menu(routes.logout, labels.logout, 'sign-out-alt')
            #loader.modal(tabindex="-1" role="dialog")
                .modal-dialog.modal-dialog-centered.modal-sm(role="document")
                    .modal-content
                        .modal-body.text-center
                            .loader
                            div.loader-txt
                                p 잠시만 기다려주세요!
            #editor.modal(tabindex="-1" role="dialog" aria-labelledby="editorTitle")
                .modal-dialog.modal-dialog-centered.modal-lg(role="document")
                    .modal-content
                        .modal-header
                            h5#editorTitle.modal-title
                                +icon('edit')(class="mx-1 text-dark")
                                span.text-dark 단어편집
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") ×
                        .modal-body
                            nav
                                #nav-tab.nav.nav-tabs.mb-3(role="tablist")
                                    a#nav-add-tab.nav-tab.nav-item.nav-link.active(data-toggle="tab" href="#nav-add" role="tab" aria-controls="nav-add" aria-selected="true")
                                        +icon('plus-square', 'far')(class="mx-1 text-success")
                                        span.text-dark 추가
                                    a#nav-delete-tab.nav-tab.nav-item.nav-link(data-toggle="tab" href="#nav-delete" role="tab" aria-controls="nav-delete" aria-selected="false")
                                        +icon('minus-square', 'far')(class="mx-1 text-danger")
                                        span.text-dark 삭제
                            #nav-tabContent.tab-content
                                #nav-add.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-home-tab")
                                    .input-group.mb-2
                                        .input-group-prepend
                                            .input-group-text
                                                input.mr-1(type="checkbox")
                                                span 숨김
                                        input.form-control(type="text")
                                        .input-group-append
                                            button.btn.btn-danger.delete-field
                                                +icon('trash', 'fa', '1x')
                                    button.btn.btn-sm.btn-secondary.mb-2.float-right.add-field 생성
                                    br
                                    button#add.btn.btn-lg.btn-success(type="button") 추가
                                #nav-delete.tab-pane.fade(role="tabpanel" aria-labelledby="nav-profile-tab")
                                    textarea.form-control.mb-2(rows="10" style="min-width: 100%")
                                    button#delete.btn.btn-lg.btn-danger(type="button") 삭제

            .content.vh-100
                block Content
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04=" crossorigin="anonymous")
            script(defer='' src='https://use.fontawesome.com/releases/v5.0.8/js/solid.js' integrity='sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l' crossorigin='anonymous')
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js" integrity="sha256-qE/6vdSYzQu9lgosKxhFplETvWvqAAlmAuR+yPh/0SI=" crossorigin="anonymous")
            script(src="../js/script.min.js")
            block JS
