extends layout

block Content
    .container-fluid
        .row: .col-md-12.my-3
            ul.list-group.list-group-flush
                each searchLog in searchLogs
                    - var { keyword, date } = searchLog;

                    li.list-group-item.text-white
                        span= keyword
