extends layout

block Content
    main
        .container-fluid
            .row
                .col-md-12.my-3
                    .input-group.mt-3
                        input.form-control#keyword(type='text' placeholder='검색할 내용을 입력하세요!' autofocus)
                        .input-group-append
                            button.btn.btn-secondary#search(type='button')
                                +icon('search', 'fa', '1x')
                .col-md-12(align="center")
                    .custom-control.custom-radio.custom-control-inline
                        input#optionWord3.custom-control-input(type="radio" name="wordLength" value="3" checked)
                        label.custom-control-label(for="optionWord3") 3-3 단어
                    .custom-control.custom-radio.custom-control-inline
                        input#optionWord2.custom-control-input(type="radio" name="wordLength" value="2")
                        label.custom-control-label(for="optionWord2") 3-2 단어
                .col-md-12.mt-3
                    #count
                        b 0
                        | 개의 단어가 검색되었습니다!
                .col-md-12.my-3
                    div
                        p.mb-0
                            i.fas.fa-ban.fa-fw.align-middle.mr-1.text-danger
                            span 필터 필요
                        p.mb-0
                            i.fas.fa-skull.fa-fw.align-middle.mr-1.text-success
                            span 3-3 한방
                        p.mb-0
                            i.fas.fa-skull.fa-fw.align-middle.mr-1.text-primary
                            span 3-2 한방
                    button#validate.btn.btn-sm.btn-dark.my-2(type="button") 검수
                    table.table.table-dark.text-center#result
                        thead
                            tr
                                th
                                th 단어
                                th 등록자
                                th 날짜
                        tbody

block JS
    script(src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js")
    script(src="js/search.min.js")
